# .NET derleme çıktıları
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log

# Rider, VSCode, VS gibi editör kalıntıları
.vscode/
.idea/

# Kullanıcıya özel dosyalar
*.user
*.suo
*.userosscache
*.sln.docstates

# Paket geri dönüşüm dizinleri
packages/
.nuget/

# dotnet publish çıktıları
publish/
*.db
